# Build outputs
**/bin/
**/obj/

# VS / Rider
.vs/
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini

# Local config / secrets
**/appsettings.Development.json
**/secrets.json

# Packages (optional)
packages/

#Ignore
publish/
dist/
installer_output/
*.exe
*.pdb